.textInput {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.textInput .label {
  font-size: 13px;
  font-weight: bold;
  padding-left: 3px;
}

/* --- Input --- */
.textInput .inputContainer {
  position: relative;
  
  display: flex;
  align-items: center;
}

.textInput .inputContainer .input {
  height: 31px;
  width: 100%;
  padding: 0 7px;

  border: 1px solid var(--grey-5);
  border-radius: 3px;
  color: var(--foreground);
  outline-color: #17adc841;
  outline-width: 3px;

  transition: all 100ms linear;
}

.textInput .inputContainer .input.isPassword {
  padding-right: 27px;
}

.textInput .inputContainer .input.hasError {
  border-color: var(--red-2);
}

.textInput .inputContainer .input:focus,
.textInput .inputContainer .input:active {
  background-color: var(--turquoise-light);
  outline-style: solid;
  border-color: var(--foreground);
}

.textInput .inputContainer .input.hasError:focus,
.textInput .inputContainer .input.hasError:active {
  border-color: var(--red-2) !important;
  border-width: 2px;
  outline-color: #cc0c3941;
}
/* --- Input --- */

/* --- Show password button --- */
.textInput .inputContainer .showPassword {
  position: absolute;
  right: 7px;
  margin-top: 3px;

  cursor: pointer;
}
/* --- Show password button --- */

/* --- Error --- */
.textInput .error {
  display: flex;
  column-gap: 5px;

  color: var(--red-1);
  font-size: 11px;
}

.textInput .error svg {
  flex-shrink: 0;
}

.textInput .error .message::first-letter {
  text-transform: uppercase;
}

.textInput .error .message::after {
  content: ".";
}
/* --- Error --- */
