.categoryPage {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  
  width: 80%;
  padding: 40px 0;

  text-align: left;
}

.categoryPage .products {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
