.categoryPage {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  
  width: 100%;
  padding: 20px;
}

.categoryPage .results {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 100%;
}
