.signupPage .container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.signupPage .container .title {
  margin-bottom: 0;
  font-weight: 500;
}

/* --- Footer --- */
.signupPage .container .footer .singUpMsg {
  display: flex;
  align-items: center;
  column-gap: 10px;

  margin-bottom: 15px;
}

.signupPage .container .footer .singUpMsg .text {
  color: var(--dark-grey-2);
  font-size: 12px;
}

.signupPage .container .footer .singUpMsg .crossline {
  flex-grow: 1;
  height: 1px;  
  background-color: var(--grey-4);
}
/* --- Footer --- */
