.productCard {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  height: auto;
  width: 250px;
  overflow: hidden;

  background-color: white;
  border: 1px solid var(--grey-4);
  border-radius: 5px;
}

/* --- Product info --- */
.productCard .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;

  height: 100%;
  padding: 0 10px 10px 10px;
}

.productCard .info .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;

  max-height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  
  line-height: 23px;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
}

.productCard .info .name:hover {
  color: var(--orange-1)
}
/* --- Product info --- */

