.modalWrapper, .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* --- Backdrop --- */
.backdrop {  
  background-color: rgba(15, 17, 17, 0.75);
  z-index: 2;
}
/* --- Backdrop --- */

/* --- Modal wrapper --- */
.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;  

  z-index: 3;
  pointer-events: initial;
}
/* --- Modal wrapper --- */