.button {
  text-align: center;

  border-radius: 7px;

  cursor: pointer;
  transition: background-color 200ms ease;
}

/* --- Colors --- */
.button:active { 
  outline: 2px solid var(--turquoise-1); /* Active style is the same for all buttons */
}

.button.primary {
  background-color: var(--yellow-1);
  border: none;
}

.button.primary:hover {
  background: var(--yellow-2);
}

.button.light {
  background-color: var(--white);
  border: 1px solid var(--grey-4);
  box-shadow: 0 2px 5px 0 #d5d9d980;
}

.button.light:hover {
  background-color: var(--turquoise-light);
}
/* --- Colors --- */


/* --- Sizes --- */
.button.small {
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  
  font-size: 13px;
}

.button.medium {
  height: 37px;
  padding: 0 15px;
  box-sizing: border-box;
  
  font-size: 16px;
}

.button.large {
  height: 42px;
  padding: 0 20px;
  box-sizing: border-box;
  
  font-size: 21px;
}
/* --- Sizes --- */

/* --- Styles --- */
.button.rounded {
  border-radius: 100px;
}

.button.block {
  display: block;
  width: 100%;
}
/* --- Styles --- */