.passwordValidations {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/* --- Messages --- */
.passwordValidations .message {
  display: flex;
  column-gap: 5px;

  font-size: 11px;
  color: var(--dark-grey-1);
}

.passwordValidations .message.valid {
  color: var(--green-1);
}

.passwordValidations .message svg {
  flex-shrink: 0;
}
/* --- Messages --- */
